@page "/error"
@inject NavigationManager Navigation

<h3 style="color: red;">Something went wrong!</h3>
<p>An unexpected error has occurred. Please try again later.</p>

<button class="btn btn-primary" @onclick="GoHome">Go to Home</button>

@code {
    private void GoHome()
    {
        Navigation.NavigateTo("/");
    }
}
