@page "/login"

<PageTitle>Login</PageTitle>

<style>
    .form-control-sm {
        font-size: 16px;
        padding: 8px;
    }

    .btn {
        width: auto;
        padding: 10px 20px;
        font-size: 14px;
    }
</style>

<section class="vh-100" style="background-color: gray;">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-6">
                <div class="card" style="border-radius: 1rem;">
                    <div class="col-md-12 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                            <form>
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <span style="color: #2563eb;" class="h1 fw-bold mb-0">Welcome to TaskFlow</span>
                                </div>

                                <!-- Email -->
                                <div class="mb-4">
                                    <input placeholder="Enter your email...." type="email" id="form2Example17" class="form-control form-control-sm" />
                                </div>

                                <!-- Password -->
                                <div class="form-outline mb-4">
                                    <input placeholder="Enter your password...." type="password" id="form2Example27" class="form-control form-control-sm" />
                                </div>

                                <!-- Login Button -->
                                <div class="pt-1 mb-4">
                                    <button style="background:#2563eb; width:150px" class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                                </div>

                                <a class="text-muted" href="#!">Forgot password?</a>
                                <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                    Don't have an account? <a href="#!" style="color: #393f81;">Register here</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



